* {
  box-sizing: border-box;
}
html, body {
  background: #fff;
}

h1,h2,p,span {
  color: #111;
  letter-spacing: unset;
}

h1 {
  margin-bottom: 40px;
}

textarea {
  border-radius: 8px;
  background: #fbceb1;
  color: #111;
}

.fileContainer {
  border: 1px solid #666;
  margin-bottom: 20px;
  border-radius: 8px;
  min-height: 40px;
  width: 60%;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.fileContainer p {
  margin-right: 30px;
}

.size-1 {
  width: 30px;
  height: 30px;
}